body {
  margin: 0px;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: url("https://static.wikia.nocookie.net/metalgear/images/a/ad/A_deserted_Shadow_Moses%2C_in_2014.png/revision/latest?cb=20111002124229");
  background-size: cover;
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(159, 237, 243, 0.375);
}

img {
  display: none;
}
